Khai báo thư viện

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
data = pd.read_csv('data_old.csv')

In [19]:
data.head()

,Release Group,Gross,Maxtheater,Openning,Percent of total,Openning theater,Date,Year
0,The Mermaid,"$4,419,787",186,"$1,155,452",26.1%,186,Feb 10,2016
1,The Secret Life of Pets,"$2,684,000",98,"$806,141",30%,94,Jul 1,2016
2,Batman v Superman: Dawn of Justice,"$2,240,920",NaN,NaN,NaN,NaN,Mar 25,2016
3,Sing,"$2,068,427",107,"$925,007",44.7%,107,Dec 23,2016
4,The Angry Birds Movie,"$2,030,673",1,NaN,NaN,NaN,May 13,2016

Kiểm tra xem có dữ liệu trống hay không

In [20]:
data.isnull().sum()

Release Group         0
Gross                 0
Maxtheater          105
Openning            176
Percent of total    176
Openning theater    240
Date                  0
Year                  0
dtype: int64

Lấy % giá trị trống trong dataframe

Xóa các dữ liệu có quá nhiều dữ liệu bị bỏ trống

In [21]:
data = data.dropna(thresh=6)
data

,Release Group,Gross,Maxtheater,Openning,Percent of total,Openning theater,Date,Year
0,The Mermaid,"$4,419,787",186,"$1,155,452",26.1%,186,Feb 10,2016
1,The Secret Life of Pets,"$2,684,000",98,"$806,141",30%,94,Jul 1,2016
3,Sing,"$2,068,427",107,"$925,007",44.7%,107,Dec 23,2016
6,Tia Tui La Cao Thu,"$1,673,793",125,"$360,582",21.5%,125,Jan 29,2016
7,Deadpool,"$1,566,065",200,"$1,566,065",100%,200,Feb 12,2016
...,...,...,...,...,...,...,...,...
1065,Cellphone,"$11,396",238,"$7,193",63.1%,238,Mar 1,2024
1066,Slyth: The Hunt Saga,"$10,039",170,"$4,915",49%,170,Mar 15,2024
1067,Digimon Adventure 02: The Beginning,"$9,130",165,"$4,794",52.5%,165,Jan 21,2024
1068,Bob Marley: One Love,"$3,894",65,"$2,064",53%,65,Mar 15,2024
1069,City Hunter the Movie: Angel Dust,"$1,088",94,"$1,088",100%,94,Mar 1,2024

Thay thế các giá trị trống bằng phương pháp mean/median

In [22]:
data.isnull().sum()

Release Group        0
Gross                0
Maxtheater          55
Openning             2
Percent of total     2
Openning theater    66
Date                 0
Year                 0
dtype: int64

In [23]:
data['Gross'] = data['Gross'].apply(lambda x: int(str(x).replace('$', '').replace(',','')) if pd.notnull(x) else x)
data['Gross'].head()

0    4419787
1    2684000
3    2068427
6    1673793
7    1566065
Name: Gross, dtype: int64

In [24]:
data['Maxtheater'] = data['Maxtheater'].apply(lambda x: int(str(x).replace(',', '')) if pd.notnull(x) else x)
data['Maxtheater'].head()

0    186.0
1     98.0
3    107.0
6    125.0
7    200.0
Name: Maxtheater, dtype: float64

In [25]:
data['Openning'] = data['Openning'].apply(lambda x: int(str(x).replace(',', '').replace('$','')) if pd.notnull(x) else x)
data['Openning'].head()

0    1155452.0
1     806141.0
3     925007.0
6     360582.0
7    1566065.0
Name: Openning, dtype: float64

In [26]:
data['Percent of total'] = data['Percent of total'].apply(lambda x: float(str(x).replace('%', '').replace('<0.1','0').replace(',','')) if pd.notnull(x) else x)
data['Percent of total'].head()

0     26.1
1     30.0
3     44.7
6     21.5
7    100.0
Name: Percent of total, dtype: float64

In [27]:
data['Openning theater'] = data['Openning theater'].apply(lambda x: int(str(x).replace(',', '')) if pd.notnull(x) else x)
data['Openning theater'].head()

0    186.0
1     94.0
3    107.0
6    125.0
7    200.0
Name: Openning theater, dtype: float64

Điền dữ liệu trống bằng median/mean/mode

In [28]:
years = [2016,2017,2018,2019,2020,2021,2022,2023,2024]

In [29]:
for year in years:
    Maxtheater_median = data[data['Year'] == year]['Maxtheater'].median()
    data.loc[data['Year'] == year, 'Maxtheater'] = data[data['Year'] == year]['Maxtheater'].fillna(Maxtheater_median)

In [30]:
for year in years:
    Openning_median=data[data['Year'] == year]['Openning'].median()
    data.loc[data['Year'] == year, 'Openning']=data['Openning'].fillna(Openning_median)

In [31]:
for year in years:
    Percentoftotal_median=data[data['Year'] == year]['Percent of total'].median()
    data.loc[data['Year'] == year, 'Percent of total']=data['Percent of total'].fillna(Percentoftotal_median)

In [32]:
for year in years:
    Openningtheater_median=data[data['Year'] == year]['Openning theater'].median()
    data.loc[data['Year'] == year, 'Openning theater']=data['Openning theater'].fillna(Openningtheater_median)

In [33]:
data.isnull().sum()

Release Group       0
Gross               0
Maxtheater          0
Openning            0
Percent of total    0
Openning theater    0
Date                0
Year                0
dtype: int64

Lưu vào file data

In [34]:
output_file = "data.csv"
data.to_csv(output_file, index=False)